li {
    background: none !important;
}

ul, ol {
    list-style: initial !important;
}

hr {
    max-width: none !important;
}

#charts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.cloud {
    max-width: 400px;
    transform: scale(0.8);
    margin-top: -50px;
}
.highcharts-title {
    fill:black;
    font-size: 25px !important;
}
.highcharts-tooltip text {
    font-size: 16px !important;
}
.highcharts-tooltip tspan {
    font-size: 16px !important;
}
.highcharts-title {
    text-decoration: underline !important;
}